body {
    background: url(Bg.webp);
    background-repeat: no-repeat;
    background-size: 1500px 850px;
  }
  #rb img{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
  }
 
  #ie img{
    position: relative;
    top: 100px;
    left: 5px;
    width: 100px;
  }